:root
{
    --cubeDepth: 250px;
    --cubeHeight: 250px;
    --cubeWidth: 250px;
}

a:active, /* selected link */
a:hover, /* mouse over link */
a:link, /* unvisited link */
a:visited /* visited link */
{
    color: #666; /* Change the default link colour from the browsers default */
    text-decoration: none; /* Remove the default underline behaviour from browser default */
}

.cube-controls a:hover {
    background-color: #363f49; /* Highlight the current mouseover menu item */
    color: #fff;
}

.ideas {
    list-style-type: none;
}

._3d-space {
    display: inline-block;
    height: var(--cubeHeight);
    perspective: 1000px;
    text-align: center;
    width: var(--cubeWidth);
}

._3d-object {
    display: inline-block;
    height: 100%;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    transform: rotateX(-15deg) rotateY(15deg);
    transition: all 0.85s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    width: 100%;
}

._3d-face {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FFF;
    border: 1px solid #888;
    box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1), 0 0 50px rgba(0, 0, 0, 0.3);
    color: #333;
    line-height: var(--cubeWidth);
    opacity: 0.95;
    overflow: hidden;
    position: absolute;
}

._3d-face--front {
    height: var(--cubeHeight);
    transform: translate3d(0, 0, calc(var(--cubeDepth) / 2));
    width: var(--cubeWidth);
}

._3d-face--top {
    height: var(--cubeDepth);
    transform: rotateX(90deg) translate3d(0, 0, calc(var(--cubeHeight) / 2));
    width: var(--cubeWidth);
}

._3d-face--bottom {
    height: var(--cubeDepth);
    transform: rotateX(-90deg) translate3d(0, 0, calc(var(--cubeHeight) / 2));
    width: var(--cubeWidth);
}

._3d-face--left {
    height: var(--cubeHeight);
    left: 50%;
    margin-left: calc((0px - var(--cubeDepth)) / 2);
    transform: rotateY(-90deg) translate3d(0, 0, calc(var(--cubeWidth) / 2));
    width: var(--cubeDepth);
}


._3d-face--right {
    height: var(--cubeHeight);
    left: 50%;
    margin-left: calc((0px - var(--cubeDepth)) / 2);
    transform: rotateY(90deg) translate3d(0, 0, calc(var(--cubeWidth) / 2));
    width: var(--cubeDepth);
}


._3d-face--back {
    height: var(--cubeHeight);
    transform: rotateY(180deg) translate3d(0, 0, calc(var(--cubeDepth) / 2));
    width: var(--cubeWidth);
}

._3d-face--front {
    background-image: url(../images/cube/banana-toast.jpg);
}

._3d-face--left {
    background-image: url(../images/cube/soup.jpg);
}

._3d-face--right {
    background-image: url(../images/cube/burger.jpg);
}

._3d-face--top {
    background-image: url(../images/cube/duck.jpg);
}

._3d-face--bottom {
    background-image: url(../images/cube/healthy-pan.jpg);
}

._3d-face--back {
    background-image: url(../images/cube/pizza.jpg);
}

.cube-controls ul
{
    list-style-type: none;
}

.cube-controls ul li {
    display: inline-block;
}

.cube-controls ul li a
{
    display: block;
    padding: 20px;
}